:root {
	--color: #d6000d;
--transittion:all 500ms ease;
}
@media screen and (min-width: 500px) {
	/* header */
	header {
		text-align: center;
		margin: 10px auto 0 auto;
		width: 85%;
		display: flex;
		align-content: center;
		justify-content: space-around;
		align-items: center;
		flex-wrap: nowrap;
	}
	#logo {
		padding: 0;
		font-size: 25px;
		margin-right: 50%;
	}
	nav > button {
		display: inline-block;
		padding: 5px 10px;
		background-color: #d6000d;
		color: white;
		width: 100px;
		border: none;
		border-radius: 5px;
		transition: var(--transittion);
	}
	/* section 1 */
	#back-budge {
		display: flex;

		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: nowrap;
		flex-direction: row;
		gap: 10em;
	}

	#back-budge > article {
		width: 30%;
	}
	article > img {
		width: 100%;
	}
	#primario {
		font-size: 50px;
	}
	h2 > p {
		font-size: 20px;
	}

	/* buttons */

	.buttons {
		font-size: 20px;
	
	}
	/* services */
	#services {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-around;
		align-content: center;
		flex-wrap: nowrap;
		width: 70%;
		margin: 0 auto;
	}
	#services > article {
		width: 35%;
	}
	#service-list {
		margin: 0 auto;
		width: 400px;
	}
	#back-questions {
		margin-left: 370px;
		width: 498px;
		text-align: initial;
		margin-right: auto;
	}
	
	#little-form {
		display: flex;
		gap: 30px;
	}
	input[type="button"] {
		border-radius: 5px;
		border: none;
		width: 200px;
		padding: 10px 15px;
		margin-bottom: 15px;
		
	}
	/* comments */
#organization-comments {
flex-direction: row;
	flex-wrap: nowrap;
	gap: 30px
	;
}
.comments {
	width: 450px;
	padding: 20px;
}
/* opniao */
.opnion {
	width: 100%;
}

}
