:root {
	--color: #d6000d;
}
@media screen and (min-width: 500px) {
	/* header */
	header {
		text-align: center;
		margin: 10px auto 0 auto;
		width: 85%;
		display: flex;
		align-content: center;
		justify-content: space-around;
		align-items: center;
		flex-wrap: nowrap;
	}
	#logo {
		padding: 0;
		font-size: 25px;
		margin-right: 50%;
	}
	li > button {
		display: block;
		padding: 5px 10px;
		background-color: #d6000d;
		color: white;
		width: 100px;
		border: none;
		border-radius: 5px;
	}
	/* section 1 */
	#back-budge {
		display: flex;

		justify-content: center;
		align-items: center;
		align-content: center;
		flex-wrap: nowrap;
		flex-direction: row;
		gap: 10em;
	}
	article {
		width: 30%;
	}
	article > img {
		width: 100%;
	}
	#primario {
		font-size: 50px;
	}
	h2 > p {
		font-size: 20px;
	}
	
	/* buttons */

	.buttons {
		font-size: 20px;
	}
	/* services */
	#services{
		display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
	}
	
}
