@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*{

    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: roboto;
    list-style: none;
}
:root {
	--color: #d6000d;
	--transittion: all 500ms;
}
.animation-btns:hover {
	background-color: white;
	border: 1px solid white var(--color);
	cursor: pointer;
	color: var(--color);
}

html,
body {
	scroll-behavior: smooth;
}
main,header{
	max-width: 1080px;
	margin: auto;
}

header {
	text-align: center;
	
}
#logo {
	padding: 1.5em;

	font-size: xx-large;
}
h1 {
	color: var(--color);
	font-style: italic;
	font-size: 2.5em;
}
h1 > span {
	color: black;
}
nav {
	width: 100%;
	display: flex;
	justify-content: center;
}
ul {
	display: flex;

}
#logo{
    padding: 1.5em;

    font-size: xx-large;
   
   

}h1{
    color: var(--color);
     font-style: italic;
}
li > a {
	color: black;
	transition: all ease-in 500;
}
li > a:hover {
	color: var(--color);
}
nav > button {
	display: none;
}
/* principal */
main{
    margin-top: 5px;
}
#back-budge{
    text-align: center;

    margin-top: 15px; ;
}
#video-call{
    padding: 20px;
    max-width: 80vw;
}
/*  */
h2>p{
    font-size: 16px;
    color: black;
}h2{font-size: 40px;
    color: var(--color);
}
#primario {
	font-size: 40px;
	color: var(--color);
}
/* buttons */
.request-quote {
	margin-top: 1.8em;
}
.buttons {
	width: 70%;
	background-color: var(--color);
	color: white;
	border-radius: 9px;
	padding: 10px 15px;
	border: none;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.532);
	transition: var(--transittion);
}
/* section 2 */
#service-list {
	margin: auto;
	width: 215px;
}
#service {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: justify;
}
#service > li {
	width: 100%;
	margin-top: 2em;
}

#service > li::before {
	content: url(img/icon/checked.png);
	margin-right: 15px;
}

#little-form {
	margin-top: 10px;
}
input[type="number"] {
	border-radius: 5px;
	border: none;
	background-color: #dcdcdc;
	padding: 10px 15px;
	margin-bottom: 15px;
	
	
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
/* comments */
#organization-comments {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	gap: 20px;
}
.comments {
	width: 95%;
	height: max-content;}







#header-footer {
	margin: 0 auto;
	width: fit-content;
}
#header-footer > p {
	color: #9d9c9c;
}
/* titulo do footer */
#h1-footer {
	padding-top: 10px;

	text-align: center;
	font-style: italic;
	color: white;
}

/* sobre e contatos */

.mb {
	margin-bottom: 6px;
}
#social-medias,#about,#contacts{
	margin-left:15px ;
	margin-top: 20px;
}
#about > p {
	color: #9d9c9c;
}
address {
	color: #9d9c9c;
}
/* contatos */
#contacts {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
#contacts > span {
	color: #9d9c9c;
}
i {
	margin-right: 5px;
}
span > a {
	color: #9d9c9c;
	text-decoration: underline;
}
/* redes sociais */
#icons {
	font-size: x-large;
	margin-top: 5px;
	color: #d6000d;
}
#icons > i {
	transition: var(--transittion);
}
#icons > i:hover {
	color: white;
}
.mr {
	margin-right: 20px;
}

/* feito por */
#by {
	text-align: center;
	margin-top: 15px;
	padding: 10px 0;
}
#by > a {
	color: #d6000d;
	transition: var(--transittion);
}

#by > a:hover {
	color: white;
}
