@media  screen and  (min-width:481px) {
    li{
        width: 170px;

    }
    .imgs{
        width: 55vw;
 
    }
    .buttons{
        width: 50%;
    }
    .comments{
        width: 90%;
    }
    .opnion{
        width: 75%;
    }

}